.flatpak-builder/
.local-tools/
.build-tools/
.manual-build-*/
.release-tools/
build*/
flatpak-build*/
release-app*/
/build-deb.*
/build-rpm.*
/dist/
/%{_builddir}/
/%{_rpmdir}/
/%{_srcrpmdir}/
*.deb
*.rpm
*.sha256
*.flatpak
*.snap
__pycache__/
*.py[cod]
.gcal-debs/
.gcal-pc/
.gcal-runtime/
.gcal-schemas/
.gcal-schemas.compiled
.gcal50-src/
.gcal50-build/
.vapi/
libgcal-private-normal.a
