[Desktop Entry]
Name=Mailficient
Comment=Read and write email
Exec=mailficient
Icon=com.local.Mailficient
Terminal=false
Type=Application
Categories=Network;Email;
Keywords=mail;email;imap;smtp;calendar;tasks;productivity;
StartupNotify=true
StartupWMClass=com.local.Mailficient
DBusActivatable=true
